h2.page-header
  a href="/#{book.user_id}/#{book.slug}" = book.name

h3.page-header = chapter.name

h4.page-header What is the chapter about as a whole?
blockquote = chapter.question1

h4.page-header What is being said in detail, and how?
blockquote = chapter.question2

h4.page-header Is the what is being said true, in whole or part?
blockquote = chapter.question3

h4.page-header What of it? If the chapter has given you information, you must ask about its significance. Why does the author think it is important to know these things?
blockquote = chapter.question4
