h2.page-header = book.name

h3.page-header Conclusion

h4.page-header What is the chapter about as a whole?
blockquote = conclusion.question1

h4.page-header What is being said in detail, and how?
blockquote = conclusion.question2

h4.page-header Is the what is being said true, in whole or part?
blockquote = conclusion.question3

h4.page-header What of it? If the chapter has given you information, you must ask about its significance. Why does the author think it is important to know these things?
blockquote = conclusion.question4
