h2 = book.name

h3 Conclusion

h4 What is the chapter about as a whole?
p = conclusion.question1

h4 What is being said in detail, and how?
p = conclusion.question2

h4 Is the what is being said true, in whole or part?
p = conclusion.question3

h4 What of it? If the chapter has given you information, you must ask about its significance. Why does the author think it is important to know these things?
p = conclusion.question4
